<link rel='stylesheet' href='/stylesheets/form.css' />
<script src="https://kit.fontawesome.com/5f556a3f29.js" crossorigin="anonymous"></script>


<form action="/articles/<%= article.id %>/update" method="POST">

  <div class="article_title">
    <label class="label_title">Title</label> <input class="title_name" type="text" name="title" value="<%= article.title %>">
</div>

<label class="label_title desc">Description</label>
<div class="article_description">
<textarea rows="20" cols="100" name="description"><%= article.description %></textarea>
 <!-- <input type="text" name="description" value="<%= article.description %>"> -->
</div>

<div class="tags">
  <label class="label_title desc">Tags</label> <input class="article_tags" type="text" name="tags" value="<%= article.tags %>">
</div>

<div>
  <input class="article_submit" type="submit" value="Update">
</div>


</form>